* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    display: flex;
    background: #E2ECFF;
    font-family: 'Gloria Hallelujah', cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro-content {
    border-bottom: 2px solid black;
    margin: 30px auto;
    text-align: center;
    padding-bottom: 20px;
    width: 75%;
    line-height: 2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);

}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(255, 99, 99);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.me {
    margin: auto;
    padding-bottom: 20px;
}